.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
}

.container {
  width: 500px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.box-rating {
  display: flex;
}

h1 {
  color: rgb(78, 78, 78);
}

.text-container {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  background-color: #f9f9f9;
  margin: 0 auto;
  visibility: hidden;
  border: 1px solid lightgrey;
  margin-top: 30px;
  animation: visitedAnimation;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

.w-6 {
  width: 3em;
}

.h-6 {
  height: 3em;
}

.done-icon {
  width: 50px;
  height: 50px;
}

@keyframes visitedAnimation {
  0% {
    transform: scale(0.3);
  }

  75% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }
}
